#aaweomvwev {
	margin:0;
}

#aaweomvwev .bbox {
	padding-top: 0px;
	/* position: absolute; */
	margin: 0px;
	/* border: solid 1px #CCCCCC; */
	width: 900px;
	background: #ffffff;
	padding-bottom: 50px;
}

#aaweomvwev {
	float: left;
	border: 1px solid rgb(196, 196, 196);
	padding-bottom: 8px;
}

#aaweomvwev .item-list {
	width: 600px;
	margin-left: 4px;
	float:left;
	margin-right: 0px;
}

#aaweomvwev .delete-cart-item img{
	margin-left: 5px;
	margin-bottom: 1px;
}

#aaweomvwev .item-des-cont {
	float: left;
}
#aaweomvwev .cart-description {
	width: 292px;
	float: right;
	margin-top: 2px;
	font-family: arial;
	font-size: 13px;
	margin-right: 45px;
	line-height: 18.8px;
	letter-spacing: 0.3px;
	padding-left: 22px;
}

#aaweomvwev .description-expand-icon {
	background: url('../images/spirite-menu.png') no-repeat -186px -51px;
	width: 15px;
	height: 15px;
}

#aaweomvwev .qty-minus {
	background: url('../images/spirite-menu.png') no-repeat -72px -35px;
	width: 17px;
	height: 7px;
	margin-bottom: 3px;
}

#aaweomvwev .qty-plus {
	background: url('../images/spirite-menu.png') no-repeat -70px -5px;
	width: 14px;
	height: 14px;
	vertical-align: baseline;
}

#aaweomvwev .qty {
	padding-left: 1px;
	padding-right: 2px;
}

#aaweomvwev .description-collapse-icon {
	background: url('../images/spirite-menu.png') no-repeat -166px -51px;
	width: 15px;
	height: 15px;
}

#aaweomvwev .align-desciption-icn {
	display: inline-block;
	clear: both;
	float: left;
	margin-top: 10px;
	margin-right: 6px;
}

#aaweomvwev .add-to-cart {
	background: url('../images/spirite-menu.png') no-repeat -69px -49px;
	width: 28px;
	height: 23px;
	vertical-align: bottom;
	margin-top: 9px;
	cursor: pointer;
	float: right;
}

#aaweomvwev .spicy-icn {
	background: url('../images/spirite-menu.png') no-repeat -50px -29px;
	width: 13px;
	height: 16px;
	margin-left: 4px;
}

#aaweomvwev .veg-icn {
	background: url('../images/spirite-menu.png') no-repeat -48px -3px;
	width: 14px;
	height: 16px;
	margin-left: 4px;
}

#aaweomvwev .border-img {
	border-left: 2px solid green;
	border-right: 2px solid green;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	border-radius: 6px;
	-webkit-box-shadow: -4px 7px 5px -2px rgba(0,0,0,0.16);
	-moz-box-shadow: -4px 7px 5px -2px rgba(0,0,0,0.16);
	box-shadow: -4px 7px 5px -2px rgba(0,0,0,0.16);
}

#aaweomvwev #cart_total {
	font-weight: bold;
}

#aaweomvwev .img-dimension {
	width:auto;
	height:150px;
}

#aaweomvwev .delete-cart-item {
	cursor: pointer;
}

#aaweomvwev hr {
	border: none;
	border-top: #8F8F8F dotted 1px;
	margin:0;
}

#aaweomvwev .add-cart-ctnr {
	width: 266px;
	float:right;
	border: 1px solid black;
	margin-right: 6px;
}

#aaweomvwev .cart-header{
	height: 25px;
	font-family: Arial;
	font-size: 12px;
	color: #565457;
	line-height: 23px;
	padding-left: 7px;
	padding-right: 14px;
	background-color: #f7f7f7;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}

#aaweomvwev .clr-below-img {
	margin-bottom: 16px;
	float: left;
}

#aaweomvwev .item-header {
	width: 600px;
	background-color: #2b6600;
	font-family: EbrimaRegular;
	font-size: 18px;
	color:white;
	font-weight: bold;
	padding-left: 12px;
	padding-top:5px;
	padding-bottom:8px;
	margin-top: 7px;
}

#aaweomvwev .cart-basket{
	width: 100%;
	padding-top: 16px;
}

#aaweomvwev .itm-added {
	width: 136px;
	float: left;
	margin-left: 5px;
}

#aaweomvwev .price-added {
	width: 43px;
	float: left;
	text-align: end;
}

#aaweomvwev .itm-qty-added {
	width: 55px;
	float: left;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#aaweomvwev .mrgtop {
	padding-top:16px;
}

@font-face {
    font-family: 'EbrimaRegular';
    src: url('../fonts/ebrima.eot');
    src: url('../fonts/ebrima.eot') format('embedded-opentype'),
         url('../fonts/ebrima.woff') format('woff'),
         url('../fonts/ebrima.ttf') format('truetype'),
         url('../fonts/ebrima.svg#EbrimaRegular') format('svg');
}

#aaweomvwev .items {
	margin-left: 8px;
	font-family: EbrimaRegular;
}

#aaweomvwev .itm {
	width: 430px;
	float: left;
	line-height: 48px;
	font-weight: 600;
	font-size: 14px;
}

#aaweomvwev .price {
	width: 45px;
	line-height: 51px;
	display: inline;
	padding-right: 18px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
}

#aaweomvwev .title {
	font-family: EbrimaRegular;
	margin-left: 9px;
	margin-right: 14px;	
	margin-bottom: 15px;
}

#aaweomvwev .cart-item-head {
	width: 155px;
	float:left;
}

#aaweomvwev .cart-item-qty,#aaweomvwev .cart-item-price {
	width: 45px;
	float:left;
}

#aaweomvwev .item-cont-added {
	padding-bottom: 30px;
	padding-top: 8px;
	border-bottom: 1px solid #dadada;
}

#aaweomvwev .item-cont {
	display: inline-block;
	width: 100%;
}

#aaweomvwev .fr {
	float: right;
}

#aaweomvwev .add-cart-ctnr{
	margin-top: 5px;
	border: 1px solid #dadada;

}

#aaweomvwev .cart-list-added {
	font-size: 13px;
	font-family: arial;
	font-weight: bold;
}

#aaweomvwev .cost-summary {
	padding-left: 12px;
	padding-right: 27px;
	padding-top: 11px;
	padding-bottom: 8px;
	font-family: Arial;
	font-size: 14px;
	color: #303030;
	line-height: 21px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #dadada;
}

#aaweomvwev .hide {
	display: none;
}

#aaweomvwev .checkout-blue {
	cursor: pointer;
	color: white !important;
	background: #2c9ec8;
	background: -moz-linear-gradient(top, #2c9ec8 0%, #077397 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c9ec8), color-stop(100%,#077397));
	background: -webkit-linear-gradient(top, #2c9ec8 0%,#077397 100%);
	background: -o-linear-gradient(top, #2c9ec8 0%,#077397 100%);
	background: -ms-linear-gradient(top, #2c9ec8 0%,#077397 100%);
	background: linear-gradient(to bottom, #2c9ec8 0%,#077397 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c9ec8', endColorstr='#077397',GradientType=0 );
	border: 1px solid #0887b1;
	margin: 28px;
	margin-left: 83px;
	height: 34px;
	width: 154px;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 800;
}

#aaweomvwev .icons {
	margin-right: 12px;
}

#aaweomvwev .clr {
	clear: both;
}

#aaweomvwev #sidemenu {
	width: 36px;
	height: 175px;
	display: block;
	float: left;
	position: fixed;
	background: white url("../images/arrow_red_right.png") 18px 18px no-repeat;
	border: 1px solid #cccccc;
	border-radius: 7px 0 0 7px;
	cursor: pointer;
	z-index: 99;
	left:151px;
	top:60px;
}

#aaweomvwev .hover-bg-color {
	background-color: #EEE;
}

#aaweomvwev .popupmenu {
	width: 220px;
	position: fixed;
	left: 188px;
	z-index: 99;
	background-color: #ffffff;
	top: 60px;
	border: 1px solid #bdbdbd;
}

#aaweomvwev .icon-close {
	margin: 7px;
	cursor: pointer;
}

#aaweomvwev .popupmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#aaweomvwev .popupmenu ul li{
	line-height: 32px;
	text-align: left;
	border-top: 3px solid #eeeeee;
	border-bottom: 3px solid #eeeeee;
	font-family: arial;
	font-size: 13px;
	vertical-align: top;
	margin-top: -3px;
	cursor: pointer;
}

#aaweomvwev li img {
	height: 27px;
	width: 20px;
	padding-left: 0px;
	position: relative;
	left: -5px;
	top: 3px;
}

#aaweomvwev .poptitle {
	background-color: #eeeeee;
	line-height: 30px;
	color: #790000;
	padding-left: 4px;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	margin-bottom: 5px;
}

#aaweomvwev #sidemenu div {
	font-family: arial;
	width: 137px;
	padding: 10px 19px 7px;
	position: absolute;
	left: -69px;
	top: 69px;
	font-weight: bold;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/*footer .clearfix {
	position: absolute;
	width: 100%;
	margin: 0;
}*/